<section class="collection-section mt-8 ">
  <div class="flex items-center justify-between mb-2">
    <div class="flex items-center space-x-3 section_heading">
      <div class="w-1 h-6 dark:bg-[#60A5FA] bg-[#053a7b] rounded"></div>
      <h2>{{ title }}</h2>
    </div>
    
    <button
      *ngIf="hasMore"
      (click)="onShowMore?.()"
      class=" show-more-btn ml-auto px-3 py-1   "
      [disabled]="loading"
    >
      Show more
    </button>
  </div>
  <div class="text-sm mb-2" [ngClass]="'theme-text'">{{ desc }}</div>
  <ng-template [ngIf]="loading">
    <div class="text-center text-sm" [ngClass]="'theme-text'">
      Loading {{ title.toLowerCase() }}…
    </div>
  </ng-template>
  <ul class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3">
    <li *ngFor="let item of items" class="dark:bg-gray-800 bg-gray-900 text-white dark:text-white rounded  ring shadow ring-gray-900/5">
      <a
        *ngIf="collectionKey"
        [routerLink]="[collectionKey, item.id ?? item._id ?? item.slug]"
        style="text-decoration: none; cursor: pointer"
        class="block p-4 rounded-lg shadow hover:shadow-lg transition-colors h-full"
        [ngClass]="'theme-card'"
      >
        <h3 class="text-lg font-semibold mb-1" [ngClass]="'theme-text'">
          {{ item.name || item.title || item.id || item._id }}
        </h3>
      </a>
      <div
        *ngIf="!collectionKey"
        class="block p-4 rounded-lg shadow hover:shadow-lg transition-colors h-full"
        [ngClass]="'theme-card'"
      >
        <h3 class="text-lg font-semibold mb-1" [ngClass]="'theme-text'">
          {{ item.name || item.title || item.id || item._id }}
        </h3>
      </div>
    </li>
  </ul>
</section>
